<%= form_for [@task, @subtask] do |f| %>
  <% if @subtask.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subtask.errors.count, "error") %> prohibited this subtask from being saved:</h2>

      <ul>
      <% @subtask.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :text %><br>
    <%= f.text_field :text, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :finished %><br>
    <%= f.check_box :finished %>
  </div>
  <div class="form-group">
    <%= f.hidden_field(:parent_id, :value => params[:task_id]) %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-info btn-raised" %>
  </div>
<% end %>
