<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @subtask.text %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @subtask.finished %>
</p>

<%= link_to 'Edit', edit_subtask_path(@subtask) %> |
<%= link_to 'Back', subtasks_path %>
